<p id="notice"><%= notice %></p>

<h1>Seguimiento Materiales</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Estatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seguimiento_materiales.each do |seguimiento_material| %>
      <tr>
        <td><%= seguimiento_material.descripcion %></td>
        <td><%= seguimiento_material.estatus %></td>
        <td><%= link_to 'Show', seguimiento_material %></td>
        <td><%= link_to 'Edit', edit_seguimiento_material_path(seguimiento_material) %></td>
        <td><%= link_to 'Destroy', seguimiento_material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seguimiento Material', new_seguimiento_material_path %>
