<p id="notice"><%= notice %></p>

<h1>Prospecto Meta Corto Plazos</h1>

<table>
  <thead>
    <tr>
      <th>Prospecto</th>
      <th>Meta corta</th>
      <th>Estatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prospecto_meta_corto_plazos.each do |prospecto_meta_corto_plazo| %>
      <tr>
        <td><%= prospecto_meta_corto_plazo.prospecto.primer_nombre %></td>
        <td><%= prospecto_meta_corto_plazo.meta_corta %></td>
        <td><%= prospecto_meta_corto_plazo.estatus %></td>
        <td><%= link_to 'Show', prospecto_meta_corto_plazo %></td>
        <td><%= link_to 'Edit', edit_prospecto_meta_corto_plazo_path(prospecto_meta_corto_plazo) %></td>
        <td><%= link_to 'Destroy', prospecto_meta_corto_plazo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prospecto Meta Corto Plazo', new_prospecto_meta_corto_plazo_path %>
