<p id="notice"><%= notice %></p>

<h1>Prospecto Usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Prospecto</th>
      <th>Usuario</th>
      <th>Estatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prospecto_usuarios.each do |prospecto_usuario| %>
      <tr>
        <td><%= prospecto_usuario.Prospecto %></td>
        <td><%= prospecto_usuario.Usuario %></td>
        <td><%= prospecto_usuario.estatus %></td>
        <td><%= link_to 'Show', prospecto_usuario %></td>
        <td><%= link_to 'Edit', edit_prospecto_usuario_path(prospecto_usuario) %></td>
        <td><%= link_to 'Destroy', prospecto_usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prospecto Usuario', new_prospecto_usuario_path %>
