<%= form_for(promedio_me) do |f| %>
  <% if promedio_me.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(promedio_me.errors.count, "error") %> prohibited this promedio_me from being saved:</h2>

      <ul>
      <% promedio_me.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion %>
  </div>

  <div class="field">
    <%= f.label :estatus %>
    <%= f.check_box :estatus %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
