<p id="notice"><%= notice %></p>

<h1>Promedio Mes</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Estatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @promedio_mes.each do |promedio_me| %>
      <tr>
        <td><%= promedio_me.descripcion %></td>
        <td><%= promedio_me.estatus %></td>
        <td><%= link_to 'Show', promedio_me %></td>
        <td><%= link_to 'Edit', edit_promedio_me_path(promedio_me) %></td>
        <td><%= link_to 'Destroy', promedio_me, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Promedio Me', new_promedio_me_path %>
