<%= form_for(tipo_telefono) do |f| %>
  <% if tipo_telefono.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_telefono.errors.count, "error") %> prohibited this tipo_telefono from being saved:</h2>

      <ul>
      <% tipo_telefono.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion %>
  </div>

  <div class="field">
    <%= f.label :estatus %>
    <%= f.check_box :estatus %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
