<%= form_for(seguimiento_respuesta) do |f| %>
  <% if seguimiento_respuesta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seguimiento_respuesta.errors.count, "error") %> prohibited this seguimiento_respuesta from being saved:</h2>

      <ul>
      <% seguimiento_respuesta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion %>
  </div>

  <div class="field">
    <%= f.label :estatus %>
    <%= f.check_box :estatus %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
